USE [systemReport]
GO
/****** Object:  Table [dbo].[deliveryNote$000000]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$000000](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$000000] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202501]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202501](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202501] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202502]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202502](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202502] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202503]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202503](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202503] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202504]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202504](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202504] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202505]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202505](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202505] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202506]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202506](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202506] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202507]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202507](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202507] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202508]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202508](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202508] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202509]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202509](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202509] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202510]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202510](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202510] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202511]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202511](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202511] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNote$202512]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNote$202512](
	[idGui] [varchar](50) NOT NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[number_ddh] [varchar](32) NULL,
	[number_quotation] [varchar](32) NULL,
	[number_contract] [varchar](32) NULL,
	[jobCode] [varchar](16) NULL,
	[deliveryDate] [smalldatetime] NULL,
	[customer_id] [varchar](50) NULL,
	[contactPerson] [nvarchar](128) NULL,
	[phonePerson] [nvarchar](128) NULL,
	[emailPerson] [nvarchar](128) NULL,
	[employee_id] [varchar](50) NULL,
	[phonePersonCreate] [nvarchar](128) NULL,
	[faxPersonCreate] [nvarchar](128) NULL,
	[mailFrom] [nvarchar](128) NULL,
	[term] [numeric](16, 4) NULL,
	[amoutFare] [numeric](20, 4) NULL,
	[truck_id] [varchar](50) NULL,
	[addresstruck] [nvarchar](128) NULL,
	[totalAmount] [numeric](20, 4) NULL,
	[totalTax] [numeric](20, 4) NULL,
	[totalPayment] [numeric](20, 4) NULL,
	[status] [char](1) NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[invoiceVAT] [nvarchar](256) NULL,
	[orderAddress] [nvarchar](256) NULL,
	[totalQuantity] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[voucherCode] [varchar](3) NULL,
 CONSTRAINT [PK_deliveryNote$202512] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$000000]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$000000](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$000000] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202501]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202501](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202501] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202502]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202502](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202502] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202503]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202503](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202503] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202504]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202504](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202504] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202505]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202505](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202505] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202506]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202506](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202506] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202507]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202507](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202507] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202508]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202508](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202508] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202509]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202509](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202509] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202510]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202510](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202510] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202511]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202511](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202511] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveryNoteDetail$202512]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveryNoteDetail$202512](
	[idGui] [varchar](50) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[stt] [int] NULL,
	[itemNameCustomer] [nvarchar](256) NULL,
	[uomCustomer] [nvarchar](256) NULL,
	[item_id] [varchar](50) NULL,
	[uom] [nvarchar](16) NULL,
	[quantity] [numeric](24, 4) NULL,
	[price] [numeric](24, 4) NULL,
	[purchasePrice] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[tax] [numeric](24, 4) NULL,
	[payment] [numeric](24, 4) NULL,
	[note] [nvarchar](256) NULL,
	[tax_rate] [numeric](5, 2) NULL,
	[taxCode] [varchar](8) NULL,
 CONSTRAINT [PK_deliveryNoteDetail$202512] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$000000]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$000000](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202501]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202501](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202502]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202502](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202503]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202503](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202504]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202504](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202505]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202505](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202506]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202506](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202507]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202507](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202508]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202508](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202509]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202509](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202510]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202510](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202511]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202511](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslip$202512]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslip$202512](
	[idGui] [varchar](64) NOT NULL,
	[voucherCode] [varchar](3) NULL,
	[voucherNumber] [varchar](32) NULL,
	[voucherDate] [datetime] NULL,
	[createdDate] [datetime] NULL,
	[supplierCode] [varchar](50) NULL,
	[supplierAddress] [nvarchar](432) NULL,
	[receiptCode] [varchar](50) NULL,
	[invoiceNumber] [varchar](50) NULL,
	[cashier] [nvarchar](432) NULL,
	[spentMoney] [varchar](50) NULL,
	[reason] [nvarchar](432) NULL,
	[employeeCode] [varchar](50) NULL,
	[amountTransfer] [numeric](24, 4) NULL,
	[amountCash] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
	[datetime0] [datetime] NULL,
	[datetime2] [datetime] NULL,
	[user_id0] [int] NULL,
	[user_id2] [int] NULL,
	[status] [varchar](1) NULL,
	[total_amount] [numeric](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$000000]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$000000](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$000000] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202501]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202501](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202501] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202502]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202502](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202502] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202503]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202503](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202503] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202504]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202504](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202504] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202505]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202505](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202505] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202506]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202506](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202506] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202507]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202507](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202507] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202508]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202508](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202508] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202509]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202509](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202509] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202510]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202510](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202510] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202511]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202511](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202511] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentslipdetail$202512]    Script Date: 11/08/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentslipdetail$202512](
	[idGui] [varchar](64) NOT NULL,
	[line_nbr] [int] NOT NULL,
	[accountPaymentCode] [varchar](50) NULL,
	[amountCur] [numeric](24, 4) NULL,
	[amount] [numeric](24, 4) NULL,
	[note] [nvarchar](432) NULL,
 CONSTRAINT [PK_paymentslipdetail$202512] PRIMARY KEY CLUSTERED 
(
	[idGui] ASC,
	[line_nbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
