USE [systemReport]
GO
/****** Object:  Table [dbo].[VoucherSequence]    Script Date: 24/08/2025 3:50:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherSequence](
	[Controller] [nvarchar](50) NOT NULL,
	[Field] [varchar](50) NOT NULL,
	[VoucherCode] [varchar](8) NULL,
	[CurrentNumber] [int] NOT NULL,
	[Prefix] [nvarchar](10) NULL,
	[Suffix] [nvarchar](10) NULL,
	[NumberLength] [int] NOT NULL,
	[DateFormat] [nvarchar](20) NULL,
	[ResetPeriod] [nvarchar](10) NULL,
	[LastResetDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_VoucherSequence] PRIMARY KEY CLUSTERED 
(
	[Controller] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VoucherSequence] ([Controller], [Field], [VoucherCode], [CurrentNumber], [Prefix], [Suffix], [NumberLength], [DateFormat], [ResetPeriod], [LastResetDate], [CreatedDate], [UpdatedDate]) VALUES (N'QuotationPaper', N'voucherNumber', N'Z02', 7, N'BG', NULL, 6, N'yyyyMM', N'MONTH', CAST(N'2025-08-24T15:13:25.637' AS DateTime), CAST(N'2025-08-22T23:48:21.353' AS DateTime), CAST(N'2025-08-24T15:13:25.637' AS DateTime))
GO
ALTER TABLE [dbo].[VoucherSequence] ADD  DEFAULT ((0)) FOR [CurrentNumber]
GO
ALTER TABLE [dbo].[VoucherSequence] ADD  DEFAULT ((6)) FOR [NumberLength]
GO
ALTER TABLE [dbo].[VoucherSequence] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VoucherSequence] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
